@font-face {
	font-family: "Neo Sans Pro";
	src: url("/fonts/Neo-Sans/Neo-Sans-Pro.woff") format(woff);
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Neo Sans Pro";
	src: url("/fonts/Neo-Sans/Neo-Sans-Pro-Medium.OTF") format(woff);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Neo Sans Pro";
	src: url("/fonts/Neo-Sans/Neo-Sans-Pro-Bold.OTF") format(woff);
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}