.blogDetailsInnerPage p  {
    margin-bottom: 24px;
 }
.blogDetailsInnerPage h1,
.blogDetailsInnerPage h2,
.blogDetailsInnerPage h3,
.blogDetailsInnerPage h4,
.blogDetailsInnerPage h5,
.blogDetailsInnerPage h6 {
   margin-bottom: 12px;
}
.blogDetailsInnerPage ul,
.blogDetailsInnerPage ol {    
    margin-bottom: 24px;
    @apply ml-8;
}
.blogDetailsInnerPage ul{
    @apply list-disc marker:text-secondary;
}
.blogDetailsInnerPage ol {
  @apply list-decimal marker:text-secondary;
}
.blogDetailsInnerPage li {
    margin-bottom: 24px;
}