@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(icon.css);

@layer base {
  @font-face {
    font-family: "Neo Sans Pro";
    src: url("../assets/fonts/Neo-Sans/Neo-Sans-Pro.woff") format(woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Neo Sans Pro";
    src: url("../assets/fonts/Neo-Sans/Neo-Sans-Pro-Medium.OTF") format(woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Neo Sans Pro";
    src: url("../assets/fonts/Neo-Sans/Neo-Sans-Pro-Bold.OTF") format(woff);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter.woff2") format(woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Medium.ttf") format(woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Bold.ttf") format(woff);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "icomoon";
    src: url("../assets/icon-fonts/icomoon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !impor
    font-family: "Inter";tant to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }

  html,
  body {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Inter";
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1c1c1c;
  }

  h1,
  .heading-1 {
    font-size: 3.6rem;
    line-height: 4.1rem;
    font-family: "Neo Sans Pro";
  }

  h2,
  .heading-2 {
    font-size: 3rem;
    line-height: 4.1rem;
    font-family: "Neo Sans Pro";
  }

  h3,
  .heading-3 {
    font-size: 2.6rem;
    line-height: 3.9rem;
    font-family: "Neo Sans Pro";
  }

  h4,
  .heading-4 {
    font-size: 2rem;
    line-height: 3rem;
    font-family: "Neo Sans Pro";
  }

  h5,
  .heading-5 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: "Neo Sans Pro";
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  button {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .btn {
    @apply bg-pink-500 text-white rounded-full text-xl border-solid px-4 py-3 font-bold focus:outline-none focus-visible:ring-2 focus-visible:ring-black ring-offset-2;
  }
}
.btn-link {
  @apply hover:text-primary transition ease-in duration-100;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.34, rgb(108, 81, 220)),
    color-stop(0.62, rgb(165, 48, 181)),
    color-stop(0.86, rgb(230, 8, 134))
  );
}
.header-logo {
  @apply h-7 lg:h-10;
}
.header-toggle {
  @apply box-border relative block h-3 cursor-pointer;
  width: 30px;
  z-index: 9999;
}

.header-toggle span {
  @apply absolute right-0 pb-0 pr-0;
  width: 30px;
  height: 2px;
  background-color: #1c1c1c;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: transform 0.5s;
}
.header-toggle span:first-child {
  top: 0;
}
.header-toggle span:last-child {
  bottom: 0;
}
.header-toggle.header-toggle-open {
  height: 20px;
}
.header-toggle.header-toggle-open span:nth-child(1) {
  @apply bg-pink-500;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(-39deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.header-toggle.header-toggle-open span:nth-child(2) {
  @apply bg-pink-500;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(39deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.blog .slick-track {
  display: flex !important;
  gap: 30px !important;
  flex-grow: 1;
}

.pentagon {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.circle {
  clip-path: circle(50% at 50% 50%);
}

.diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
  margin: 0 auto;
}

.blog .slick-track {
  display: flex !important;
  gap: 30px !important;
  flex-grow: 1;
}

.blog .slick-track .card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.product .slick-track {
  display: flex !important;
  gap: 20px;
}

.card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

/* form css */

.wrapper form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper form div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.wrapper form input[type="text"] {
  background: #f1f2f6;
  height: 60;
  padding: 10px 16px;
  border-radius: 50px;
  margin-bottom: 32px;
  width: 100%;
  font-size: 18px;
}

.wrapper form input[type="text"]:focus {
  outline: 1px solid #f0027f;
  width: 100%;
}

.wrapper form input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

.wrapper form div input[type="checkbox"]:checked + label {
  background-color: #4767f6;
  color: #fff;
}

.wrapper form label {
  @apply mb-2 text-gray-400 text-sm;
}

.wrapper form div label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 39px;
  border-radius: 50px;
  height: 60px;
  background-color: #f1f2f6;
  @apply cursor-pointer;
}

.wrapper form textarea:focus {
  outline: 1px solid #f0027f;
}

.wrapper form div :checked:checked {
  background-color: blue;
}

.wrapper form textarea {
  margin: 20px 0 0;
  height: 200px;
  background-color: #f1f2f6;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
}

.wrapper form button {
  padding: 0 20px;
  height: 60px;
  background-color: #f0027f;
  color: #fff;
  border-radius: 50px;
  margin-top: 34px;
}
.stepperItem:target {
  scroll-margin-top: 120px;
}

.text-page-content p {
  @apply mb-4;
}
.text-page-content a {
  @apply underline hover:text-primary;
}
.text-page-content ol,
.text-page-content ul {
  @apply list-outside space-y-3 mb-8 ml-5;
}
.text-page-content ul {
  @apply list-disc;
}
.text-page-content ol {
  @apply list-decimal;
}
.text-page-content ul ::marker,
.text-page-content ol ::marker {
  @apply text-tertiary;
}

.image:last-child {
  border-bottom: none;
}

@media screen and (min-width: 1024px) {
  body,
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .stepperItem:target {
    scroll-margin-top: 150px;
  }
}
