@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
/* } */

@layer base {
  @font-face {
    font-family: "Neo Sans Pro";
    src: url(../assets/fonts/Neo-sans-Pro.woff) format(woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter.woff2) format(woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

 

  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    font-size: 20px;
    line-height: 1.5rem;
    font-family: "Inter";
  }

  h1,
  .heading-1 {
    font-size: 3.6rem;
    line-height: 4.1rem;
    font-family: "Neo Sans Pro";
  }

  h2,
  .heading-2 {
    font-size: 3rem;
    line-height: 4.1rem;
    font-family: "Neo Sans Pro";
  }

  h3,
  .heading-3 {
    font-size: 2.6rem;
    line-height: 3.9rem;
    font-family: "Neo Sans Pro";
  }

  h4,
  .heading-4 {
    font-size: 2rem;
    line-height: 3rem;
    font-family: "Neo Sans Pro";
  }

  h5,
  .heading-5 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: "Neo Sans Pro";
  }

  button {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
