@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Neo Sans Pro";
    src: url(../assets/fonts/Neo-sans-Pro.woff) format(woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter.woff2) format(woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    font-size: 20px;
    line-height: 1.5rem;
    font-family: "Inter";
  }

  h1,
  .heading-1 {
    font-size: 3.6rem;
    line-height: 4.1rem;
    font-family: "Neo Sans Pro";
  }

  h2,
  .heading-2 {
    font-size: 3rem;
    line-height: 4.1rem;
    font-family: "Neo Sans Pro";
  }

  h3,
  .heading-3 {
    font-size: 2.6rem;
    line-height: 3.9rem;
    font-family: "Neo Sans Pro";
  }

  h4,
  .heading-4 {
    font-size: 2rem;
    line-height: 3rem;
    font-family: "Neo Sans Pro";
  }

  h5,
  .heading-5 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: "Neo Sans Pro";
  }

  button {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}


/* form css */

.wrapper form  {
  display: flex;
  flex-direction: column;
   
  align-items: flex-start;
  }
  
  .wrapper form div{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap:20px;
    
  }
  
  .wrapper form input[type="text"]{
    background: #F1F2F6;
    height: 60;
    padding: 10px  16px ;
    border-radius: 50px;
    margin-bottom: 32px;
    width: 100%;
    font-size: 18px;
   
    
  }
  
  .wrapper form input[type="text"]:focus{
    outline: 1px solid #F0027F;
    width: 100%;
  }
  
  
  .wrapper form input[type="checkbox"]{
    visibility: hidden;
    position: absolute;
  }
  
  .wrapper form div input[type="checkbox"]:checked + label {
   background-color: #4767F6; 
   color: #fff;
  }
  
  .wrapper form label{
    margin-bottom: 24px;
  }
  
  
  .wrapper form div label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 39px;
    border-radius: 50px;
    height: 60px;
    background-color: #F1F2F6;
  
  
  }
  
  .wrapper form textarea:focus{
    outline: 1px solid #F0027F;
  }
  
  .wrapper form div :checked:checked{
   
  
    background-color: blue;
  }
  
  .wrapper form textarea{
    margin: 20px 0 0;
    height: 200px;
    background-color:#F1F2F6 ;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
  }
  
  .wrapper form button{
    padding: 0 20px;
    height: 60px;
    background-color: #F0027F;
    color: #fff;
    border-radius: 50px;
    margin-top: 34px;
    
  }
